.heder {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  align-items: center;
}
button {
  background-color: #0082f4;
  width: 161px;
  height: 52px;
  border-radius: 10px;
  border: #ffffff;
  color: #ffffff;
}
.hover {
  position: relative;
  display: flex;
  align-items: center;
  width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
}
.nav-items ul li a {
  margin: 10px;
}
ul li a {
  margin: 20px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.hover-left {
  width: 400px;
}
.hover-left,
h3,
h1,
p,
button {
  margin-top: 20px;
}
h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  color: #000000;
}
h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #0080fd;
}
.hover-left p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  opacity: 0.6;
}
b {
  color: #0080fd;
}
.button {
  display: inline;
}
.play-video {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 30px;
  border: #000000;
  column-gap: 10px;
}
h2{
  font-style: normal;
font-weight: 700;
font-size: 49px;
line-height: 130%;
color: #000000;
}
p{
  font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: #000000;
opacity: 0.6;
}
.button {
  display: flex;
  column-gap: 10px;
}
.content {
  position: relative;
  display: flex;
  align-items: center;
  width: 1100px;
  justify-content: space-between;
  padding: 0;
  margin: 100px auto;
}
.content-ringht {
  width: 346px;
}

.main-box {
  text-align: center;
  width: 1100px;
  margin: 0 auto;
}
.main-box1 {
  display: flex;
  justify-content: space-between;
}
.main-box2 {
  width: 200%;
  max-width: 200px;
  text-align: center;
}
.text{
  font-style: normal;
font-weight: 500;
font-size: 48.44px;
line-height: 150%;
color: #000000;
}

.widget {
  width: 1100px;
  margin: 0 auto;
  background: #fff;
  position: relative;
}
.main-widget {
  display: flex;
  column-gap: 50px;
  margin-bottom: 30px
}
.widget-left {
  display: flex;
  width: 420px;
  height: 230px;
  border: 2px solid #F8FBFE;
  border-radius: 10px;
}

.blue {
  background-color: #0080fd;
  width: 62px;
  border-bottom-left-radius: 10px;
  border-start-start-radius: 10px;
}
.wheit {
  width: 170px;
  margin-left: 50px;
}
.blue_img {
  position: absolute;
  top: 52%;
  left: 33px;
}
.widget-reight {
  display: flex;
  width: 420px;
  height: 230px;
  border: 2px solid #F8FBFE;
  position: relative;
  border-radius: 10px;
}
.widget-blue {
  background-color: #0080fd;
  width: 62px;
  border-bottom-left-radius: 10px;
  border-start-start-radius: 10px;
}
.widget-wheit {
  width: 170px;
  margin-left: 50px;
}
.widget-img {
  position: absolute;
  top: 33%;
  left: 30px;
}
.img1 {
  background-color: #fff;
  border-radius: 50%;
  transition: 0.5s;
}
.img1:hover{
  background-color: #0080fd;
  transition: 0.5s;
  opacity: 0.5;


}
 .wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 .section{
  background-color: #e5e5e5;
 }
 .input{
  width: 400px;
  height: 40px;
  background-color: #fff;
  border: none;
  margin: 50px;
padding-left: 50px;
 }
 .label{
 position: relative;
}
.img_lebel{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 1px;
  right: 412px;
}
.input_wrap{
  position: relative;
 text-align: center;
}
.input_send{
background-color: #0080fd;
padding: 3px 15px;
position: absolute;
top: 110px;
left: 680px;
width: 70px;
height: 38px
}
.futer1{
  /* position: relative; */
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.futer1 .conten1 ul li {
  list-style-type: none;
  font-size: large;
  margin: 15px 0;
}
.futer1 .content2 ul li{
  list-style-type: none;
  font-size: large;
  margin: 15px 0; 
}
h4{
  font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 150%;
color: #000000;
}
.content3 ul li{
  list-style-type: none;
  font-size: large;
  margin: 15px 0; 
}
.content4 ul li{
  list-style-type: none;
  font-size: large;
  margin: 15px 0; 
}
.footer{
  background: linear-gradient( 180deg, #058aff 0%, rgba(57, 55, 206, 0.87) 97.91% );
}
.main_footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  color: #fff

}
.send-button{
  background-color:white;
  color: #000000;
  width: 131px;
  height: 52px;
  margin: 23px;
}
.footer_img{
  display: flex;
  justify-content: end;
  align-items: center

}
.footer_img a{
  margin: 0 10px;
  font-size: x-large
}